<ion-header>
  <ion-toolbar>
    <ion-title>Reporte General</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="row">
      <div class="col-sm">
        <div id="container1" class="graphic"></div>
      </div>
      <div class="col-sm">
        <div id="container2" class="graphic"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div id="container3" class="graphic"></div>
      </div>
      <div class="col-sm">
        <div id="container4" class="graphic"></div>
      </div>
    </div>

  </div>
</ion-content>