.mat-tab-label {
  background: var(--ion-color-primary) !important;
  color: white !important;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 5%;
  // border-radius: 0px 32px 32px 0px;
}

.mat-tab-body-content{
  overflow: hidden;
}
 
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  display: none;
}

.mat-ripple {
  background: var(--ion-color-primary) !important;
}

.mat-tab-label-active {
  background: var(--ion-color-success) !important;
  color: #000000 !important;
}

.mat-tree:hover {
  background-color: red;
}

.ion-page {
  justify-content: unset;
}

ion-select {
  border-radius: 5px;
  border: 1px solid var(--ion-color-medium);
  padding: 0.91rem;
}
ion-menu {
  background: #9598de;
  main {
    background: #9598de;
  }
}
slider-menu {
  background: #9598de;
}

ion-toggle {
  --background: #000;
  --background-checked: #7a49a5;

  --handle-background: #7a49a5;
  --handle-background-checked: #000;
}