

.Pagina{
	width: 95%;
	margin:10px auto;
    margin-bottom: 20px;
}
.respuesta {
	text-align: right;
	font-size: 15px;
	color: #3c3f44;
}
.Reporte{
	width: 100%;
    margin-top: 3mm;
}

.TablaObligacion {    
width: 100%;
border: 1px solid #385a91;
margin-bottom: 1mm;
}


.NombreN
{
	font-size: 17px;
	background-color: #cbdbf4;
	color: #385a91;
	font-weight: bold;
}

.NombreN2
{
	font-size: 16px;
	background-color: #cbdbf4;
	color: #385a91;
	font-weight: bold;
}

.NombreC{
	color: #385a91;
	background-color: gainsboro;
	font-size: 14px;
}

.NombreC2{
	color: #385a91;
	background-color: gainsboro;
	font-size: 14px;
	text-align: center;
}

.NombreC3 {
    color: #385a91;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
 }

 .NombreC4 {
    color: #385a91;
    background-color: gainsboro;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
 }

.Datos{
	font-size: 14px;
	text-align: center;
	color: #3c3f44;
}

.Datos2{
	font-size: 14px;
	color: #3c3f44;
}

.DatosBold {
	font-weight: bold;
}
table{
    border-collapse: unset !important;
    border-spacing: 1px;
}
// * {
// 	font-size: 20px !important;
// }